project/quartus/*
!project/quartus/pl_top.sdc
!project/quartus/pl_top_no_pll.sdc
!project/quartus/add_to_qsf.txt
project/modelsim/*
!project/modelsim/golden.txt
!project/modelsim/data.hex
!project/modelsim/program.hex
project/assembler/*
!project/assembler/assembler.py
!project/assembler/hello.asm